* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  user-select: none;
  box-sizing: border-box;
}

body {
  background-color: #cd9b81;
}

@font-face {
  font-family: 'Srisakdi-Bold';
  src: url('../assets/fonts/Srisakdi/Srisakdi-Bold.ttf');
}

@font-face {
  font-family: 'Roboto-regular';
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Typewriter-Bold';
  src: url('../assets/fonts/jmh_typewriter/Typewriter-Bold.ttf');
}